h1{
    width:min-content;
    height: min-content;
    background-color: burlywood;
    color: rgb(255, 0, 64);
}

#pargraph1{
    width: fit-content;
    height: fit-content;
    background-color: rgb(2, 7, 7);
    color: rgb(43, 226, 83);
}
#pargraph2{
    width: min-content;
    height: fit-content;
    background-color: rgb(28, 201, 201);
    color: rgb(3, 3, 3);
}
.pargraph3{
    width: fit-content;
    height: fit-content;
    background-color: rgb(95, 22, 65);
    color: rgb(244, 245, 248);  
}

