
.location-content{
    /* background-color: #f8f8f8; */
    display: inline-block; 
    width: 35%;
}

.Location-img{  
    display: inline-block;
    /* background-color: #f8f8f8; */
    width: 50%;
}

.title{
    font-family: 'Oi', cursive;
}

img{
    width: 50%;
}