
.OurStory{
    
    display: inline-block; 
    width: 35%;
}

.OurStory-img{  
    display: inline-block;
    width: 50%;
}

.title{
    font-family:'Times New Roman', Times, serif;
}

img{
    width: 50%;
}